:root {
    --main-color: #4169e1; #royal blue
    --complement: #e1b941;
    --text-color: white;    
    --nav-bar-height: 80px;
}

* {
    margin: auto;
    background-color: black;
}

.content {
    margin: 100px 50px;
    width: 30%;
}

.content, .content > h2 { 
    background-color: white;
    color: black;
    border-radius:5px;
    border-color: royalblue;
    padding: 5px;
    text-align:center;
    
}

h2 {
    padding: 5px
    
}

@media screen and (max-width: 600px) {
    .content {
        width: 80%;
        float: none
    }
}
